name: Build
on:
 push:
   branches:
     - main
 pull_request:
   types: [opened, synchronize, reopened]
jobs:
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 
      - name: Install dependencies
        run: npm install --legacy-peer-deps
      - name: Test and coverage
        run: npm run test --coverage --collectCoverageFrom='src/**/*.{ts,tsx}' --collectCoverageFrom='!src/**/*.d.ts' --collectCoverageFrom='!src/**/*.styles.ts' --collectCoverageFrom='!src/**/assets/**' --collectCoverageFrom='!src/**/icons/**' --collectCoverageFrom='!src/**/interfaces/**' --collectCoverageFrom='!src/**/utils/**' --collectCoverageFrom='!src/**/styles/**' --collectCoverageFrom='!src/**/lib/**' --collectCoverageFrom='!src/**/skeleton/**' --collectCoverageFrom='!src/**/styles.ts' --collectCoverageFrom='!src/**/App.tsx' --collectCoverageFrom='!src/**/main.tsx'
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          SONAR_TOKEN: ${{ secrets. SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GIT_TOKEN }}
